
<div class="flex flex-col bg-white justify-center items-center pb-[2rem]">
  <div class="flex items-center justify-center text-md my-[2rem] gap-6">
      <a href="/" class="">Home</a>
      {% if employee.designation != "E" %}
      <a href="/employees" class="">Employees</a>
      {% endif %}
      <a href="/features" class="">Features</a>
      <a href="/contact" class="">Contact</a>
      <a href="/about" class="">About</a>
    </div>
    <div class="text-center">&copy;2024 Company.Inc</div>
</div>